/* text colors */

.text-primary{
  color: aquamarine;
}

.text-secondary{
  color: blueviolet;
}

/* button */
.btn{
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background-color: aquamarine;
  border: none;
  border-radius: 5px;
}

.btn:hover{
  opacity: 0.8;
}

.btn-primary{
  background: blue;
  color: #fff;
}
.btn-secondary{
  background: green;
  color: #fff;
}
.btn-dark{
  background: #333;
  color: #fff;
}
.btn-light{
  background: #f4f4f4;
  color: #333;
}